body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background: url('hand.jpg') no-repeat center center fixed;
    background-size: cover;
    opacity: 0.8; /* Low opacity for the background image */
}

.scrolling-text {
    font-size: 24px;
    position: absolute;
    animation: scroll-vertical 10s linear infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 200%; /* Double the height to accommodate seamless looping */
    overflow: hidden;
}

.text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%; /* Each content block takes half the container height */
}

@keyframes scroll-vertical {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50%); /* Move by half the container height */
    }
}

button {
    position: absolute;
    top: 50%;
    right: 210px;
    transform: translateY(-50%);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

